.c-search-form {
    position: relative;
    padding-right: 44px;
    &__label {
        margin-bottom: 0;
    }
    &__button {
        position: absolute;
        right: 0;
        top: 0;
        height: 40px;
    }
}