$primary-colour: rgb(32, 221, 174);
$primary-colour-dim: #0a969b;

$secondary-colour: #49ff11;
$alert-colour: #f03;
$warning-colour: yellow;
$success-colour: green;

$grey: #ccc;
$light-grey: #f1f1f1;
$medium-grey: #050505;
$dark-grey: #333333;


