// @import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');

$body-background: #f3f3f3 !default;
$body-font-family: 'Roboto Slab', serif !default;
$global-weight-normal: 400 !default;
$global-lineheight: 1.5 !default;
$body-font-color: #000000 !default;
$base-font-size: 100% !default;
$global-width: 1200 !default;